body{
    background-color: #eeeeee;
}

.title{
    margin-top: 3%;
}
.table{
    margin-top: 7%;
    padding: 0 24px;
    /* width: 100%; */
}
.container{
   width: 70%;
    
}

.submitbtn{
    margin-top: 3%;
}

th{
    color: rgb(250, 62, 62);
    font-size: 1.2rem;
    border: none;
     border-bottom: 1px solid grey;
 }

 td{
     border: none;
     border-bottom: 1px solid grey;
 }

 input{
     border: none;
 }

 .file{
     padding-left: 18px;
 }

 #img_1{
    padding: 20px;
}
