<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="admin.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script>
        function downloadFile() {
            const authenticate = () => {
            document.getElementById("form-row").style.cssText = "display: none"; 
            document.getElementById("down1").innerHTML = "Download Toefi School Data";
            document.getElementById("down2").innerHTML = "Download Toefi Guideline Data";
            document.getElementById("down3").innerHTML = "Download Toefi File Data";
            document.getElementById("down4").innerHTML = "Download Toefi Files";
            }
          const user = document.getElementById("inputEmail").value;
          const password = document.getElementById("inputPassword").value;
          if( user === "Faf20032021" && password === "Faith@2030#") {
              authenticate()
          }
          else {
              alert("wrong password or user_id");
          }
          
        }
        </script>
    <title>ToFEI-Gujarat Admin Panel</title>
  </head>
  <body>
    <!-- <div class="container-fluid">
        <div class="row no-gutter mx-auto">
          
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5"> -->
              <div class="container">
                  <div class="bg-image mx-auto">
                       <img class="img-fluid" src="faith_logo.png" alt="">
                  </div>
                <div class="row" id="form-row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Welcome back!</h3>
                    
                      <div class="form-label-group">
                        <input type="text" id="inputEmail" class="form-control" placeholder="User Name" required autofocus>
                        <label for="inputEmail">User Name</label>
                      </div>
      
                      <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                      </div>
      
                     
                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" onclick="downloadFile()" >
                       
                        Sign in
                        </button>
                      
                    
                  </div>
                </div>
              </div>

              <div class="download mx-auto">
                  <a href="/response.csv" id="down1"></a> <br>
                  <a href="/user_response.csv" id="down2"></a><br>
                  <a href="/file_response.csv" id="down3"></a><br>
                  <a href="/files.zip" id="down4"></a>
                   
              </div>
            <!-- </div>
          </div>
        </div>
      </div> -->
      
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

   
  </body>
</html>