@media only screen and (max-width: 600px) {
  .container {
    margin-right: 30px !important;
    margin-left: 10px !important;
    margin-top: 10%;
    /* width: 100%; */
  }
  input {
    width: 80%;
  }

  #img_1 {
    position: relative;
    right: 65px;
  }
  #img_2 {
    position: relative;
    right: 65px;
  }

  .languages {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    position: relative;
    /* margin-right: % !important; */
    margin-left: 10px !important;
    width: 95%;
    /*max-width: 767px !important; */
  }
}
